<!-- Toolbar -->
<mat-toolbar class="header">
  <span class="title-center mat-h1">Docfox Achieva Widget</span>
</mat-toolbar>
<!-- First name (required)
Last name (required)
Email (required, shape checked)
Mobile number (required, country drop down, shape checked based on country) -->

<!-- wrapper -->
<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Name -->
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
        <!-- error -->
        <mat-error *ngIf="errorHandling('firstName', 'required')">
          You must provide the <strong>First Name</strong>.
        </mat-error>
      </mat-form-field>

      <!-- Name -->
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <!-- error -->
        <mat-error *ngIf="errorHandling('lastName', 'required')">
          You must provide the <strong>Last Name</strong>.
        </mat-error>
      </mat-form-field>


      <!-- Email -->
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <!-- error -->
        <mat-error *ngIf="errorHandling('email', 'required')">
          You must provide a <strong>Email</strong>.
        </mat-error>
        <mat-error *ngIf="errorHandling('email', 'email')">
          Email informed is invalid.
        </mat-error>
      </mat-form-field>

       <!-- Email -->
       <mat-form-field>
        <input matInput placeholder="Phone Number" type="text" appPhoneMask  formControlName="tel" id="phone-number">
        <mat-error *ngIf="errorHandling('tel', 'required')">
          You must provide a <strong>Phone Number</strong>.
        </mat-error>
        <mat-error *ngIf="errorHandling('tel', 'minlength')">
          Phone number missing numbers.
        </mat-error>
      </mat-form-field>
      

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary" [disabled]="myForm.invalid">Submit</button>
      </div>

    </form>
  </mat-sidenav-content>
</mat-sidenav-container>